version: '3'
services:
  blog:
    build:
      context: .
      dockerfile: Dockerfile_blog
    volumes:
      - ./dist:/usr/share/nginx/html
    ports:
      - "1000:80"
    restart: unless-stopped
  demo:
    build:
      context: .
      dockerfile: Dockerfile_demo
    volumes:
      - ./demo:/usr/share/nginx/html
    ports:
      - "2000:81"
    restart: unless-stopped
  resume:
    build:
      context: .
      dockerfile: Dockerfile_resume
    volumes:
      - ./resume:/usr/share/nginx/html
    ports:
      - "3000:82"
    restart: unless-stopped
